/* this is the main CSS document of the project */

/********** GLOBAL **********/
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --black: #000000;
  --white: #ffffff;
  --bc-color: #f1f2f6;
  --primary-color: #3498db;
  --primary-color-dk: #40739e;
  --secondary-color: #e84393;
  --secondary-color-dk: #c44569;
  --color-dk: #2d3436;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
  border-top: 0px solid var(--white);
  margin-top: 25px;
  margin-bottom: 25px;
}
